.board {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
    margin-top: 30px;
}

.column {
    display: flex;
    justify-content: space-around;
    width: 128.5px;
    height: 500px;
    flex-direction: column-reverse;
    background-color: $turquoise;
}

.counter {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin: 0 auto;
}

.highlighted {
    position: relative;
}

.highlighted:hover {
    cursor: pointer;
    opacity: 0.9;
}

.highlighted::before {
    content: '\f063';
    font-family: 'FontAwesome';
    color: white;
    position: absolute;
    top: -20px;
    text-align: center;
    width: 128.5px;
}

.redCounter {
    background-color: $red;
}

.blueCounter {
    background-color: $blue;
}