.turnDisplay {
    display: flex;
}

.turnBox {
    flex-grow: 1;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid $paleGray;
    background-color: $grayPurple;
    color: $darkGray;
}

.selected {
    color: $black;
    background-color: $lightPurple;
}