@import 'fa/font-awesome';
@import '_fonts';
@import '_colors';

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica', sans-serif;
    background-color: $darkGray;
}


@import '_header';
@import '_turndisplay';
@import '_board';