* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica', sans-serif;
}

@import 'fa/font-awesome';
@import '_fonts';
@import '_colors';
@import '_header';
@import '_turndisplay';
@import '_board';